.adaptation-action-item-label {
  margin-top: 7px;
  margin-right: 50px;
  font-weight: 600;
}

.adaptation-action-item-row {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 0px;
}

.adaptation-horizontal-separator {
  margin-top: 5px;
  margin-bottom: 5px;
}