.funding-action-item-label {
  margin-top: 7px;
  margin-right: 50px;
  font-weight: 600;
}

.funding-action-item-row {
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: 0px;
}

.funding-horizontal-separator {
  margin-top: 5px;
  margin-bottom: 5px;
}