<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NCCRD.Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=NCCRDv2;Data Source=." providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <NCCRD.Database.Properties.Settings>
      <setting name="LoggerType" serializeAs="String">
        <value>SQLDB</value>
      </setting>
    </NCCRD.Database.Properties.Settings>
  </applicationSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
</configuration>
