@model NCCRD.Services.Data.Models.ProjectsViewModel

@foreach (var project in Model.Projects.OrderBy(p => p.ProjectTitle.Trim()))
{
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@project.ProjectTitle</h4>
            <p class="card-text">@project.ProjectDescription</p>
            <a href="#" class="btn btn-primary">View</a>
        </div>
    </div>
    <br />
}
