USE [NCCRD_ImportData]
GO
/****** Object:  Table [dbo].[RegionMapping]    Script Date: 2019/01/28 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionMapping](
	[OldRegionId] [int] NOT NULL,
	[NewRegionId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[RegionMapping] ([OldRegionId], [NewRegionId]) VALUES (10, 51)
INSERT [dbo].[RegionMapping] ([OldRegionId], [NewRegionId]) VALUES (12, 52)
INSERT [dbo].[RegionMapping] ([OldRegionId], [NewRegionId]) VALUES (13, 110)
GO
