
<div id="AD#">
    <div class="row">
        <div class="col-md-12">
            <label for="adaptationDesrc" style="font-weight:bold">Description:</label>
            <div class="md-form">
                <textarea type="text" readonly rows="1" id="txtAdaptationDescription" class="md-textarea pt-1 py-0 pb-0">##txtAdaptationDescription##</textarea>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div id="divAdaptationPurpose" class="col-md-4">
            <label style="font-weight:bold">Purpose:</label>
            <!--##selAdaptationPurpose##-->
        </div>
        <div id="divAdaptationSector" class="col-md-4">
            <label style="font-weight:bold">Sector:</label>
            <!--##selAdaptationSector##-->
        </div>
    </div>

    <br />
    <hr />
</div>