
<div id="MD#">
    <div class="row">
        <div id="divCarbonCredit" class="col-md-4">
            <label style="font-weight:bold">Carbon credit:</label>
            <!--##selCarbonCredit##-->
        </div>
        <div id="divCarbonCreditMarket" class="col-md-4">
            <label style="font-weight:bold">Carbon credit market:</label>
            <!--##selCarbonCreditMarket##-->
        </div>
        <div id="divCDMStatus" class="col-md-4">
            <label style="font-weight:bold">CDM status:</label>
            <!--##selCDMStatus##-->
        </div>
    </div>

    <br />

    <div class="row">
        <div id="divCDMMethodology" class="col-md-4">
            <label style="font-weight:bold">CDM methodology:</label>
            <!--##selCDMMethodology##-->
        </div>
        <div id="divVoluntaryMethodology" class="col-md-4">
            <label style="font-weight:bold">Voluntary methodology:</label>
            <!--##selVoluntaryMethodology##-->
        </div>
        <div id="divVoluntaryGoldStandard" class="col-md-4">
            <label style="font-weight:bold">Voluntary gold standard:</label>
            <!--##selVoluntaryGoldStandard##-->
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-4">
            <label style="font-weight:bold">CDM project number:</label>
            <input type="text" id="txtCDMProjectNumber" readonly value="##CDMProjectNumber##" />
        </div>
        <div class="col-md-4">
            <label style="font-weight:bold">Other description:</label>
            <input type="text" id="txtOtherDescription" readonly value="##OtherDescription##" />
        </div>
        <div id="divMitigationSector" class="col-md-4">
            <label style="font-weight:bold">Sector:</label>
            <!--##selMitigationSector##-->
        </div>
    </div>

    <br />
    <hr />
</div>