
<div id="ME#">
    <div class="row">
        <div class="col-md-3">
            <label style="font-weight:bold">Year:</label>
            <input type="text" readonly id="txtYear" value="##Year##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">CO2:</label>
            <input type="text" readonly id="txtCO2" value="##CO2##" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-3">
            <label style="font-weight:bold">CH4:</label>
            <input type="text" readonly id="txtCH4" value="##CH4##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">CH4_CO2e:</label>
            <input type="text" readonly id="txtCH4_CO2e" value="##CH4_CO2e##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">N2O:</label>
            <input type="text" readonly id="txtN2O" value="##N2O##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">N2O_CO2e:</label>
            <input type="text" readonly id="txtN2O_CO2e" value="##N2O_CO2e##" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-3">
            <label style="font-weight:bold">HFC:</label>
            <input type="text" readonly id="txtHFC" value="##HFC##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">HFC_CO2e:</label>
            <input type="text" readonly id="txtHFC_CO2e" value="##HFC_CO2e##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">PFC:</label>
            <input type="text" readonly id="txtPFC" value="##PFC##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">PFC_CO2e:</label>
            <input type="text" readonly id="txtPFC_CO2e" value="##PFC_CO2e##" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-3">
            <label style="font-weight:bold">SF6:</label>
            <input type="text" readonly id="txtSF6" value="##SF6##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">SF6_CO2e:</label>
            <input type="text" readonly id="txtSF6_CO2e" value="##SF6_CO2e##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">Hydro:</label>
            <input type="text" readonly id="txtHydro" value="##Hydro##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">Hydro_CO2e:</label>
            <input type="text" readonly id="txtHydro_CO2e" value="##Hydro_CO2e##" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-3">
            <label style="font-weight:bold">Tidal:</label>
            <input type="text" readonly id="txtTidal" value="##Tidal##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">Tidal_CO2e:</label>
            <input type="text" readonly id="txtTidal_CO2e" value="##Tidal_CO2e##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">Wind:</label>
            <input type="text" readonly id="txtWind" value="##Wind##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">Wind_CO2e:</label>
            <input type="text" readonly id="txtWind_CO2e" value="##Wind_CO2e##" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-3">
            <label style="font-weight:bold">Solar:</label>
            <input type="text" readonly id="txtSolar" value="##Solar##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">Solar_CO2e:</label>
            <input type="text" readonly id="txtSolar_CO2e" value="##Solar_CO2e##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">FossilFuelElecRed:</label>
            <input type="text" readonly id="txtFossilFuelElecRed" value="##FossilFuelElecRed##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">FossilFuelElecRed_CO2e:</label>
            <input type="text" readonly id="txtFossilFuelElecRed_CO2e" value="##FossilFuelElecRed_CO2e##" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-3">
            <label style="font-weight:bold">BioWaste:</label>
            <input type="text" readonly id="txtBioWaste" value="##BioWaste##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">BioWaste_CO2e:</label>
            <input type="text" readonly id="txtBioWaste_CO2e" value="##BioWaste_CO2e##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">Geothermal:</label>
            <input type="text" readonly id="txtGeothermal" value="##Geothermal##" />
        </div>
        <div class="col-md-3">
            <label style="font-weight:bold">Geothermal_CO2e:</label>
            <input type="text" readonly id="txtGeothermal_CO2e" value="##Geothermal_CO2e##" />
        </div>
    </div>

    <br />
    <hr />
</div>