
<br />
<div class="jumbotron">
    <h1>NCCRD Data Service</h1>
    <p class="lead">
        Home of the NCCRD (National Climate Change Response Database) Data Service API
        <br />
        A project by SAEON for the DEA (Department of Environmental Affairs)
    </p>
    <p>
        <a href="http://www.saeon.ac.za" class="btn btn-primary btn-lg" style="width:150px">SAEON</a>
        <a href="http://www.environment.gov.za/" class="btn btn-primary btn-lg" style="width:150px">DEA</a>
    </p>
</div>
