<div class="row">
    <div class="col-md-9">
        <label style="font-weight:bold">Project Title:</label>
        <input id="txtProjectTitle" type="text" readonly />
    </div>
    <div class="col-md-3">
        <input id="txtEndYear" type="text" readonly style="width:75px; text-align:center; font-size:x-large; float:right" />
        <label style="font-size:x-large; float:right"> - </label>
        <input id="txtStartYear" type="text" readonly style="width:75px; text-align:center; font-size:x-large; float:right" />
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <label for="projectDescr" style="font-weight:bold">Description:</label>
        <div class="md-form">
            <textarea id="txtProjectDescription" type="text" readonly rows="1" class="md-textarea pt-1 py-0 pb-0"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label style="font-weight:bold">Lead agent:</label>
        <input id="txtLeadAgent" type="text" readonly />
    </div>
    <div class="col-md-4">
        <label style="font-weight:bold">Host partner:</label>
        <input id="txtHostPartner" type="text" readonly />
    </div>
    <div class="col-md-4">
        <label style="font-weight:bold">Host organisation:</label>
        <input id="txtHostOrganisation" type="text" readonly />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <label style="font-weight:bold">Contact (alt):</label>
        <input id="txtAlternativeContact" type="text" readonly />
    </div>
    <div class="col-md-4">
        <label style="font-weight:bold">Contact email (alt):</label>
        <input id="txtAlternativeContactEmail" type="text" readonly />
    </div>
    <div class="col-md-4">
        <label style="font-weight:bold">Link:</label>
        <input id="txtLink" type="text" readonly />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <label for="validationComments" style="font-weight:bold">Validation comments:</label>
        <div class="md-form">
            <textarea id="txtValidationComments" type="text" readonly rows="1" class="md-textarea pt-1 py-0 pb-0"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label style="font-weight:bold">Budget range:</label>
        <br />
        <label>R </label>
        <input id="txtBudgetLower" type="text" readonly style="width:125px" />
        <label style="margin-left:10px;margin-right:10px"> - </label>
        <label> R </label>
        <input id="txtBudgetUpper" type="text" readonly style="width:125px" />
    </div>
</div>

<br />

<div class="row">
    <div id="divProjectType" class="col-md-4">
        <label style="font-weight:bold">Project type:</label>
        <!--selProjectType-->
    </div>
    <div id="divProjectSubType" class="col-md-4">
        <label style="font-weight:bold">Project sub-type:</label>
        <!--selProjectSubType-->
    </div>
    <div id="divProjectStatus" class="col-md-4">
        <label style="font-weight:bold">Project status:</label>
        <!--selProjectStatus-->
    </div>
</div>

<br />

<div class="row">
    <div id="divProjectManager" class="col-md-4">
        <label style="font-weight:bold">Project manager:</label>
        <!--selProjectManager-->
    </div>
    <div id="divValidationStatus" class="col-md-4">
        <label style="font-weight:bold">Validation status:</label>
        <!--selValidationStatus-->
    </div>
    <div id="divMAOptions" class="col-md-4">
        <label style="font-weight:bold">MAOption:</label>
        <!--selMAOption-->
    </div>
</div>
<br />