
<div id="RD#">
    <div class="row">
        <div class="col-md-4">
            <label style="font-weight:bold">Author:</label>
            <input type="text" readonly id="txtAuthor" value="##Author##" />
        </div>
        <div class="col-md-4">
            <label style="font-weight:bold">Paper link:</label>
            <input type="text" readonly  id="txtPaperLink" value="##PaperLink##" />
        </div>
        <div class="col-md-4" id="divResearchType">
            <label style="font-weight:bold">Research type:</label>
            <!--selResearchType-->
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-4" id="divTargetAudience">
            <label style="font-weight:bold">Target audience:</label>
            <!--selTargetAudience-->
        </div>
        <div class="col-md-4" id="divResearchSector">
            <label style="font-weight:bold">Sector:</label>
            <!--selResearchSector-->
        </div>
    </div>

    <br />
    <hr />
</div>